<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}{% endblock title %}</title>

    <!-- Custom fonts for this template-->
    <link href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet"
        type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{{ url_for('static', filename='css/sb-admin-2.min.css') }}" rel="stylesheet">
    {% block css %}{% endblock css %}

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center"
                href="{{ url_for('order_progress') }}">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-shower"></i>
                </div>
                <div class="sidebar-brand-text mx-3">大陽精機廠</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider">
            <!-- Heading - 作業管理 -->
            <div class="sidebar-heading">作業管理</div>

            <!-- Nav Item - 每日訂單進度 -->
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('order_progress') }}">
                    <i class="fas fa-fw fa-tasks"></i>
                    <span>每日訂單進度</span>
                </a>
            </li>

            <!-- Nav Item - 生產機器排程 -->
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('machine') }}">
                    <i class="fas fa-fw fa-calendar"></i>
                    <span>生產機器排程</span>
                </a>
            </li>

            <!-- Nav Item - 庫存管理 -->
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('material') }}">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>庫存管理</span>
                </a>
            </li>

            <!-- Nav Item - 新增訂單 -->
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('planning') }}">
                    <i class="fas fa-fw fa-plus-square"></i>
                    <span>新增訂單</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">
            <!-- Heading - 顧客關係管理 -->
            <div class="sidebar-heading">顧客關係管理</div>

            <!-- Nav Item - 銷售分析 Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSales"
                    aria-expanded="true" aria-controls="collapseSales">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>銷售分析</span>
                </a>
                <div id="collapseSales" class="collapse" aria-labelledby="headingSales" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">銷售分析</h6>
                        <a class="collapse-item" href="{{ url_for('annual_sales') }}">年銷售額</a>
                        <a class="collapse-item" href="{{ url_for('quarterly_sales') }}">季銷售額</a>
                        <a class="collapse-item" href="{{ url_for('monthly_sales') }}">月銷售額</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - 顧客分析 Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCustomer"
                    aria-expanded="true" aria-controls="collapseCustomer">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>顧客分析</span>
                </a>
                <div id="collapseCustomer" class="collapse" aria-labelledby="headingSales"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">顧客分析</h6>
                        <a class="collapse-item" href="{{ url_for('clv') }}">顧客終身價值</a>
                        <a class="collapse-item" href="{{ url_for('kmeans') }}">顧客分群</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - 顧客資料查詢 -->
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('customer_search') }}">
                    <i class="fas fa-fw fa-search"></i>
                    <span>顧客資料查詢</span>
                </a>
            </li>

            <!-- Nav Item - 訂單資料查詢 -->
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('order_search') }}">
                    <i class="fas fa-fw fa-search"></i>
                    <span>訂單資料查詢</span>
                </a>
            </li>

        </ul>
        <!-- End of Sidebar -->


        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">
                        <span class="mr-2 d-none d-lg-inline text-gray-600 small">大陽精機廠股份股份有限公司 產銷管理系統</span>
                    </ul>
                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    {% block content %}
                    {% endblock content %}
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; TAHYANG 2022</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Bootstrap core JavaScript-->
    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{{ url_for('static', filename='js/sb-admin-2.min.js') }}"></script>

    <!-- Page level plugins -->
    <script src="{{ url_for('static', filename='vendor/chart.js/Chart.min.js') }}"></script>

    <!-- Page level custom scripts -->
    <script src="{{ url_for('static', filename='js/demo/chart-area-demo.js') }}"></script>
    <script src="{{ url_for('static', filename='js/demo/chart-pie-demo.js') }}"></script>
    <script src="{{ url_for('static', filename='js/demo/chart-bar-demo.js') }}"></script>
    {% block js %}{% endblock js %}

</body>

</html>