{% extends "base.html" %}
{% block title %}顧客終身價值{% endblock title %}
{% block css %}
<link href="{{ url_for('static', filename='vendor/datatables/dataTables.bootstrap4.min.css') }}" rel="stylesheet">
{% endblock css %}
{% block content %}
<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">顧客分析－顧客終身價值</h1>

<!-- Content Row -->
<!-- <div class="row">
    <div class="col-xl-8 col-lg-7">
        {% for table in tables %}
        {{ table|safe }}
        {% endfor %}
    </div>
</div> -->

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">顧客終身價值</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Customer ID</th>
                        <th>CLV</th>
                    </tr>
                </thead>
                <tbody>
                    {% for clv in clvs %}
                    <tr>
                        <td>{{ clv[0] }}</td>
                        <td>{{ clv[1] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}
{% block js %}
<script src="{{ url_for('static', filename='vendor/datatables/jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/datatables/dataTables.bootstrap4.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/demo/datatables-demo.js') }}"></script>
{% endblock js %}